use strict

*{
    margin: 0;
    padding: 0;
    font-size: 20px;
}

html {
    height: 100%;
}

#GameField {
    box-shadow: 4px 4px 12px black;
    width: 1152px;
    height: 648px;
}

#GameCanvas {
    width: 1152px;
    height: 648px;
}

#Assets {
    display: none;
}

#Backgrounds {
    display: none;
}

body {
    background-image: url(../../media/img/wallpaper.jpg);
    background-size: cover;
}

header {
    display: flex;
    
}

h1 {
    display: flex;
    text-align: center;
    color: crimson;
}