
@import '../../../../styles.scss';

/* src/app/shared/footer/footer.component.scss */
.footer {
  background: color-mix(in srgb, var(--clr-primary) 5%, var(--clr-bg));
  padding: var(--space-md);
  color: var(--clr-text);

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: var(--space-md);
  }

  .footer-nav a {
    margin-right: var(--space-sm);
    color: var(--clr-text-muted);
    text-decoration: none;
    font-size: 0.9rem;

    &.active,
    &:hover {
      color: var(--clr-primary);
    }
  }

  .footer-social a {
    margin-right: var(--space-sm);
    color: var(--clr-text-muted);
    font-size: 1.2rem;

    &:hover {
      color: var(--clr-primary);
    }

    i {
      pointer-events: none; /* verhindert, dass Font‑Awesome‑Icons anklickbar sind */
    }
  }

  .footer-info {
    flex-basis: 100%;
    text-align: center;
    font-size: 0.8rem;
    color: var(--clr-text-muted);
    margin-top: var(--space-sm);
  }
}
